{{ define "main" }}

<nav style="position: absolute; top: 1rem; right: 2rem;">
  <a href="/projects/" style="margin-left: 1rem;">Projects</a>
  <a href="/essays/" style="margin-left: 1rem;">Essays</a>
  <a href="/thoughts/" style="margin-left: 1rem;">Thoughts</a>
</nav>

<section>
  <h1>Hi, I’m Kevin 👋</h1>
  <p>I’m a 17-year-old passionate about the energy transition, climate change, and AI.</p>
  <p>I am working on problems that deliver tangible impact to underserved communities around the world.</p>
  <p>Over the next few years, I am building deep knowledge in energy systems, AI, and financial inclusion, with the goal of becoming a clean-tech entrepreneur.</p>
  <p>Thanks for checking my website out!</p>
  <p><strong><a href="https://kevintheivendran.substack.com/?utm_source=homepage_recommendations&utm_campaign=3336435" target="_blank">📬 Subscribe to my monthly updates</a></strong></p>
  <p>Email: kevintheivendran9@gmail.com</p>
</section>

{{ end }}


