{{ define "main" }}

<style>
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-bottom: 30px;
    margin-top: 80px; 
  }
  @media (max-width: 768px) {
    .profile-pic {
      margin-top: 10px; 
      margin-left: auto; 
      margin-right: auto;
    }
  }
</style>

<section>
  <img src="/kevin.jpg" alt="Kevin Theivendran" class="profile-pic">

  <h1>Hi, I’m Kevin Theivendran 👋</h1>
  <p>I’m a Computer Science and Geography student at the University of Toronto and the co-founder of AgriLanka.</p>
  <p>My work sits at the intersection of <strong>Geospatial AI, climate finance, and the energy transition.</strong> Currently, I am building AI-driven energy access tools with SEforALL.</p>
  <p>My ultimate goal is to become a clean-tech entrepreneur, building systems that deliver tangible, scalable impact to underserved communities.</p>
  <p>Thanks for checking my website out!</p>
  <p><strong><a href="https://kevintheivendran.substack.com/?utm_source=homepage_recommendations&utm_campaign=3336435" target="_blank">📬 Subscribe to my monthly updates</a></strong></p>
  <p>Email: kevintheivendran9@gmail.com</p>
</section>

{{ end }}
